[Desktop Entry]
Name=Tick
Comment=Task tracker and notes app
Exec=tick
Icon=tick
Terminal=false
Type=Application
Categories=Utility;Office;ProjectManagement;
Keywords=todo;tasks;notes;productivity;
